services:
  airflow:
    image: apache/airflow:2.7.0-python3.10
    container_name: airflow
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    command: >
      bash -c "pip install pandas scikit-learn &&
               airflow standalone"
